<app-header></app-header>

<div *ngIf="visKategoriSkjema" class="bodyContent">
  <form [formGroup]="kategoriSkjema" (ngSubmit)="registrerKategori()">
    <input class="form-control" formControlName="id" type="hidden" />
    <div class="form-group">
      <label>Kategori:</label>
      <input class="form-control" formControlName="navn" />
      <p class="alert alert-warning" [hidden]="kategoriSkjema.controls.navn.valid || (kategoriSkjema.controls.navn.pristine && !submitted)">
        Kategorinavn er obligatorisk og kan ikke inneholde spesialtegn
      </p>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="!kategoriSkjema.valid" class="btn btn-primary">Registrer</button>
      <button class="btn btn-default" (click)="tilKategoriListe()">Tilbake</button>
    </div>
  </form>
</div>

<div class="bodyContent">
  <br />
  <div *ngIf="visKategorier">
    <div *ngIf="laster">
      Laster kategorier.....
    </div>
    <div *ngFor="let kategori of alleKategorier">
      <button (click)="visKategoriView(kategori.id)" type="button" class="btn btn-info">{{kategori.navn}}</button>
    </div>
    <br /><br />
    <button class='btn btn-primary' (click)='kategoriSkjemaView()'>Register Kategori</button>
  </div>
</div>

<div class="bodyContent">
  <br />
  <div *ngIf="visKategori">
    <div *ngIf="laster">
      Laster kategori.....
    </div>
    <h2>{{enKategori.navn}}</h2>
    <div *ngFor="let sp of enKategori.sp">
      <p>{{sp}}</p>
    </div>

    <form [formGroup]="spSkjema" (ngSubmit)="skrivSP(enKategori.id)">
      <input class="form-control" formControlName="id" type="hidden" />
      <div class="form-group">
        <label>Skriv nytt spørsmål her:</label>
        <input class="form-control" formControlName="sp" />
        <p class="alert alert-warning" [hidden]="spSkjema.controls.sp.valid || (spSkjema.controls.sp.pristine && !submitted)">
          Spørsmålfelt kan ikke inneholde spesialtegn
        </p>
      </div>
      <div class="form-group">
        <button type="submit" [disabled]="!spSkjema.valid" class="btn btn-primary">Registrer</button>
        <button class="btn btn-default" (click)="tilKategoriListe()">Tilbake</button>
      </div>
    </form>

    <br /><br />
    <button class='btn btn-primary' (click)='tilKategoriListe()'>Tilbake til Kategori Liste</button>
  </div>
</div>
<app-footer></app-footer>
