<app-header (hentSp)="visSpView($event)"></app-header>

<div *ngIf="visKategoriSkjema" class="bodyContent">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-6">
      <form [formGroup]="kategoriSkjema" (ngSubmit)="registrerKategori()">
        <input class="form-control" formControlName="id" type="hidden" />
        <div class="form-group">
          <label>Kategori:</label>
          <input class="form-control" formControlName="navn" />
          <p class="alert alert-warning" [hidden]="kategoriSkjema.controls.navn.valid || (kategoriSkjema.controls.navn.pristine && !submitted)">
            Kategorinavn er obligatorisk og kan ikke inneholde spesialtegn
          </p>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="!kategoriSkjema.valid" class="btn btn-primary">Registrer</button>
          <button class="btn btn-default" (click)="tilKategoriListe()">Tilbake</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="bodyContent">
  <br />
  <div *ngIf="visKategorier">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-6">
        <h3>Velg Kategori:</h3>
        <br />
        <div *ngIf="laster">
          Laster kategorier.....
        </div>
        <div *ngFor="let kategori of alleKategorier">
          <button (click)="visKategoriView(kategori.id)" type="button" class="btn btn-info">{{kategori.navn}}</button>
          <br /><br />
        </div>
        <br /><br />
        <button class='btn btn-default' (click)='kategoriSkjemaView()'>Register Ny Kategori</button>
      </div>
    </div>
  </div>
</div>

<div class="bodyContent">
  <br />
  <div *ngIf="visKategori">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-6">
        <div *ngIf="laster">
          Laster kategori.....
        </div>
        <h2>{{enKategori.navn}}</h2>
      </div>
    </div>
    <div *ngFor="let sp of enKategori.sp">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-6">
          <p><a href="#" (click)="visSpView(sp.id)">{{sp.sp}} <span *ngIf="sp.svar?.length > 0" class="badge">{{sp.svar?.length}} </span></a>
          <span *ngIf="!sp.svar?.length > 0" class="badge">0</span>
          <br />
          <span class="infoTekst">Poeng:</span> {{sp.poeng}} &nbsp; &nbsp;
          <span class="infoTekst">Basert på</span> {{sp.antallStemmer}} <span class="infoTekst">stemmer</span>
          </p><hr />
          <br />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-6">
        <form [formGroup]="spSkjema" (ngSubmit)="skrivSP(enKategori.id)">
          <input class="form-control" formControlName="id" type="hidden" />
          <div class="form-group">
            <label>Skriv nytt spørsmål her:</label>
            <input class="form-control" formControlName="sp" />
            <p class="alert alert-warning" [hidden]="spSkjema.controls.sp.valid || (spSkjema.controls.sp.pristine && !submitted)">
              Spørsmålfelt kan ikke inneholde spesialtegn
            </p>
          </div>
          <div class="form-group">
            <button type="submit" [disabled]="!spSkjema.valid" class="btn btn-primary">Registrer</button>
            <button class="btn btn-default" (click)="tilKategoriListe()">Tilbake</button>
          </div>
        </form>

        <br /><br />
        <button class='btn btn-primary' (click)='tilKategoriListe()'>Tilbake til Kategori Liste</button>
      </div>
    </div>
  </div>
</div>

<div class="bodyContent">
  <br />
  <div *ngIf="vissp">
    <div class="row">
      <div class="col-sm-1">

      </div>
      <div class="col-sm-1">
        <img src="../assets/img/pilOpp.png" class="img img-responsive stem" width="20" height="20" (click)="stemSpOpp(ettSp.id)" />
        <h4><span *ngIf="ettSp.poeng < 9">&nbsp;</span>{{ettSp.poeng}}</h4>
        <img src="../assets/img/pilNed.png" class="img img-responsive stem" width="20" height="20" (click)="stemSpNed(ettSp.id)" />
      </div>
        <div class="col-sm-6" style="text-align:left">
          <div *ngIf="laster">
            Laster spørsmål.....
          </div>
          <h4>{{ettSp.sp}}</h4>
          <p>
            <span class="infoTekst">Poeng:</span> {{ettSp.poeng}} &nbsp; &nbsp;
            <span class="infoTekst">Basert på</span> {{ettSp.antallStemmer}} <span class="infoTekst">stemmer</span>
          </p>
      </div>
    </div>
      <br /><br />
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-1">
        <div *ngIf="ettSp.svar.length > 0">
          <h4>Svar:</h4>
        </div>
      </div>
    </div>
    <div *ngFor="let svar of ettSp.svar">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
          <img src="../assets/img/pilOpp.png" class="img img-responsive stem" width="20" height="20" (click)="stemSvarOpp(svar.id)" />
          <h4><span *ngIf="svar.poeng < 9">&nbsp;</span>{{svar.poeng}}</h4>
          <img src="../assets/img/pilNed.png" class="img img-responsive stem" width="20" height="20" (click)="stemSvarNed(svar.id)" />
        </div>
        <div class="col-sm-6">
          <p>
            {{svar.svar}} <br />
            <span class="infoTekst">Poeng:</span> {{svar.poeng}} &nbsp; &nbsp;
            <span class="infoTekst">Basert på</span> {{svar.antallStemmer}} <span class="infoTekst">stemmer</span>
          </p>
          <hr />
          <br />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-6">
        <form [formGroup]="svarSkjema" (ngSubmit)="skrivSvar(ettSp.id)">
          <input class="form-control" formControlName="id" type="hidden" />
          <div class="form-group">
            <label>Skriv svar her:</label>
            <input class="form-control" formControlName="svar" />
            <p class="alert alert-warning" [hidden]="svarSkjema.controls.svar.valid || (svarSkjema.controls.svar.pristine && !submitted)">
              Svarfelt kan ikke inneholde spesialtegn
            </p>
          </div>
          <div class="form-group">
            <button type="submit" [disabled]="!svarSkjema.valid" class="btn btn-primary">Registrer</button>
            <button class="btn btn-default" (click)="tilbakeTilKategoriView()">Tilbake</button>
          </div>
        </form>

        <br /><br />
        <button class='btn btn-primary' (click)='tilKategoriListe()'>Tilbake til Kategori Liste</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
