
<div id="headerDiv" class="container">
    <table>
        <tr>
            <td>
                <img alt="Logo" src="assets/img/logo.jpg" class="img-responsive" width="180" height="126">
            </td>
            <td>
                &nbsp;&nbsp;&nbsp;
            </td>
            <td>
                <h2>Grautbakken Filmsjappe</h2>
            </td>
        </tr>
    </table>
</div>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <div class="row">
        <div class="col-md-4">
          <ul class="nav navbar-nav">
            <li><a href="#">Hjem</a></li>
            <li><a href="#">Filmer</a></li>
            <li><a href="#">Sjangere</a></li>
            <li><a href="#">Skuespillere</a></li>
            <li><a href="#">Nyheter</a></li>
            <li>
          </ul>
        </div>
        <div class="col-md-4">
          <div id="søkeFelt" class="navbar-form">
            <form [formGroup]="forslag" autocomplete="off">
              <input type="text" id="sok" formControlName="sok" size="30" (keyup)="hentForslag()" class="form-control" placeholder="Søk på spørsmål" />
              <div id="søkeForslag" *ngIf="visForslagsListe">
                <div *ngFor="let resultat of alleForslag">
                  <a style="cursor:pointer" (click)="sendTilComponent(resultat.id)" [innerHTML]="resultat.sp"></a>
                  <br /><br />
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">

  function markerSøk(tekst) {
    tekst = tekst.toLowerCase();
    var søkeTekst = $("#søkeInput").val();
    var markering = "<span>" + søkeTekst + "</span>";
    var formatering = tekst.replace(søkeTekst, markering);
    return formatering;
  }
</script>
